*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    letter-spacing: 1px;
}

#navDay:checked + .container{
    --primary-color: #A9A9A9;
    --secondary-color: #F5F5F5;
    --tertary-color: #000000a9;
    --text-color: #000000;
    --glass-color: #0000001a;
    --glass-border: #000000b9;
    --connect-color: #71717177;
    --connect-border: #2b2b2b;
    --footer-color: #00000008;
    --image-url: url('images/blackImage.png');
}
.container{
    --primary-color: #23272F;
    --secondary-color: #2E363F;
    --tertary-color: #ffffffa9;
    --text-color: #fff;
    --glass-color: #ffffff1a;
    --glass-border: #ffffffb9;
    --connect-color: #80808066;
    --connect-border: grey;
    --footer-color: #ffffff03;
    --image-url: url('images/whiteImage.png');
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.dark-box{
    height: 100vh;
    width: 60%;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-column{
    
    height: 100%;
    width: 20%;
    opacity: 0.5;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
#product{
    
    font-size: 4vw;
    padding: 1rem 0 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 1.7rem;
    text-wrap: nowrap;
}
.landP{
    height: 100%;
    width: 80%;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary-color);
}
.land{
    font-size: 18vw;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.light-box{
    height: 100vh;
    width: 40%;
    background: var(--secondary-color);
}
.ingAge{
    opacity: 0.5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
}
.page{
    height: 50%;
    width: 100%;
    font-size: 18vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
#navH:checked + .content{
    animation: justShake 0.3s forwards;
}
@keyframes justShake {
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(-5px);
    }
    60%{
        transform: translateX(5px);
    }
    80%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}
.content{
    position: absolute;
    height: 85%;
    width: 92%;
    background: var(--glass-color);
    backdrop-filter: blur(6px);
    border: 2px solid var(--glass-border);
    border-radius: 1rem;
}
.navbar{
    
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0 ;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#logo{
    
    width: 30%;
    font-size: 3vw;
    padding: 1rem 2rem 0;
    color: var(--text-color);
}
#logo a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar-elem{
    
    width: 70%;
    font-size: 1.5vw;
    text-align: right;
    padding-top: 1rem;
}
.navbar-elem label{
    margin: 0 0.5rem 0;
    border-radius: 2px;
    cursor: pointer;
    color: var(--tertary-color);
}
.navbar-elem label:hover{
    color: var(--text-color);
}
.navbar-elem #menu{
    display: none;
}
.menu-box{
    display: none;
}
.main{
    
    height: 90%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
}
.main-text{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 0 2rem 2rem;
}
.title-name{
    height: 6rem;
    display: flex;
    align-items: center;
}
#product-name{
    
    color: var(--text-color);
    text-align: left;
    letter-spacing: 2px;
    margin-top: 3rem;
    font-size: 5vw;
    font-weight: 400;
    text-wrap: wrap;
}
#symbol{
    
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    height: 7rem;
    width: 7rem;
    margin-top: 0rem;
    margin-left: -4rem;
    transform: rotate(15deg);
}

.description{
    
    color: var(--text-color);
    margin: 3rem 0 1rem;
    font-size: .9vw;
    letter-spacing: 2px;
    min-height: 6rem;
    width: 70%;
    text-align: left;
}
#para2{
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
.button{
    position: relative;
    background-color: var(--glass-color);
    color: var(--tertary-color);
    backdrop-filter: blur(5px);
    border: none;
    height: 50px;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 400;
    margin: 2rem 0 1rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    transform: translateX(5px);
    cursor: pointer;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.3);
    animation: shakeShadow 5s infinite;
}
.button:hover{
    color: var(--text-color);
}
.button:active{
    scale: 0.97;
}
input{
    display: none;
}

#navA:checked + #para2{
    opacity: 1;
    max-height: 9rem;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.main-image{
    
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0;
    width: 80%;
    height: 400px;
    width: 400px;
}
.image #shoe{
    
    height: 400px;
    width: 400px;
    transform: translateY(-5px);
    transition: .5s;
    animation: shakeShoe 5s infinite;
}
@keyframes shakeShoe {
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.image #shadow{
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    left: 2rem;
    bottom: 1.5rem;
    height: 1rem;
    width: 60%;
    border-radius: 80%;
    transform: translateX(5px);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    animation: shakeShadow 5s infinite;
}
@keyframes shakeShadow {
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(5px);
    }
}
.connect{
    
    margin-bottom: 4rem;
    margin-left: 3rem;
    width: 60%;
    font-size: 2.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    max-height: 0rem;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
.connect a{
    
    text-decoration: none;
    margin: 1rem 1rem;
    color: var(--tertary-color);
    transition: .7s;
    height: 4vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 0;
    border: 2px solid var(--connect-border);
    border-radius: 50%;
}
.connect a:hover{
    color: var(--text-color);
    background-color: var(--connect-color);
    padding:0 0 0 0;
    transform: scale(1.1) ;
}
#navC:checked + .connect{
    opacity: 1;
    max-height: 4rem;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}
.footer{
    position: absolute;
    background-color: var(--footer-color);
    color: var(--text-color);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 0.7vw;
    font-weight: 300;
    padding: 0.5rem 0;
    bottom: 0rem;
    max-height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .container{
        height: 180vh;
    }
    .dark-box{
        height: 100%;
    }
    .light-box{
        height: 100%;
    }
    .content{
        height: 97%;
        border-radius: 2rem;
    }
    #product{
        letter-spacing: 7rem;
        font-size: 6vw;
    }
    .navbar{
        height: 5%;
        padding: 0rem 1rem 0 ;
    }
    #logo{
        font-size: 5vw;
        padding: 1rem 2rem 0;
    }
    .navbar-elem{
        font-size: 2.7vw;
    }
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
    }
    .main-image{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .image #shadow{
        left: 2.5rem;
        height: 1rem;
        width: 35%;
        border-radius: 80%;
    }
    .connect{
        margin-bottom: 3rem;
        margin-left: 0rem;
        width: 70%;
        font-size: 3.5vw;
    }
    .connect a{
        height: 7vw;
        width: 7vw;
        padding: 0 0 0 0;
    }
    .connect a i{
        animation: shakeConnect 5s infinite;
    }
    @keyframes shakeConnect {
        0% {
            transform: scale(1) rotate(0deg);
        }
        25% {
            transform: scale(1.1) rotate(5deg);
        }
        50% {
            transform: scale(1) rotate(0deg);
        }
        75% {
            transform: scale(1.1) rotate(-5deg);
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }
    .main-text{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }
    .title-name{
        width: 100%;
        justify-content: center;
    }
    #product-name{
        letter-spacing: 4px;
        margin-top: 3rem;
        margin-left: 4rem;
        font-size: 10vw;
        font-weight: 400;
    }
    #symbol{
        height: 10rem;
        width: 10rem;
        margin-top: -1rem;
        margin-left: -6rem;
    }
    .description{
        margin: 3rem 0 1rem;
        font-size: 1.7vw;
        letter-spacing: 2px;
        min-height: 8rem;
        width: 80%;
        text-align: center;
        line-height: 2;
    }
    .button{
        width: 10rem;
        font-size: 2.5vw;
        font-weight: 300;
        margin: 2rem 0 1.5rem;
        letter-spacing: 3px;
    }
    .footer{
        font-size: 1.2vw;
        font-weight: 200;
        height: 4rem;
    }
}
@media (max-width: 480px){
    .container{
        height: 160vh;
    }
    #logo{
        font-size: 10vw;
        padding: 1rem 1rem 0;
    }
    .nav-group{
        display: none;
    }
    .navbar-elem{
        font-size: 6vw;
    }
    .navbar-elem #menu{
        display: inline-flex;
    }
    .image{
        margin: 4rem 0 0;  
    }
    .image #shoe{
        height: 330px;
        width: 330px;
    }
    .image #shadow{
        left: 2rem;
        bottom: 1rem;
        height: 1rem;
        width: 60%;
        border-radius: 80%;
    }
    .connect{
        margin-bottom: 4rem;
        margin-left: 0rem;
        width: 90%;
        font-size: 6vw;
    }
    .connect a{
        height: 12vw;
        width: 12vw;
    }
    #product-name{
        margin-top: 0rem;
        margin-left: 1rem;
        font-size: 10vw;
        font-weight: 400;
    }
    #symbol{
        height: 5rem;
        width: 5rem;
        margin-top: -1.9rem;
        margin-left: -3.2rem;
    }
    .description{
        margin: 1rem 0 0rem;
        font-size: 2vw;
        min-height: 3rem;
        width: 100%;
        line-height: 1.7;
    }
    .button{
        font-size: 4vw;
    }
    .footer{
        font-size: 1.3vw;
        font-weight: 200;
        height: 3rem;
    }
    .menu-box{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.134);
        padding: 2rem 1rem;
        height: 5rem;
        width: 100%;
        top: 5rem;
        display: none;
    }
    .menu-span{
        height: 100%;
        width: 100%;
        letter-spacing: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 6vw;
        font-weight: 400;
        color: var(--tertary-color);
    }
    #hamburger:checked + .menu-box{
        display: block;
    }
    
}